<h4>Report: @ViewBag.ReportName</h4>
<hr />

<input type="hidden" id="reportName" value="@ViewBag.ReportNameTrdp" />

@(Html.Kendo().ActivateKendoScripts())

<div id="reportViewer">
    loading...
</div>

@section scripts {
    <script src="/api/reports/resources/js/telerikReportViewer"></script>

    <environment include="Development">
        <script src="~/js/reports.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/reports.min.js"></script>
    </environment>
}