html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

main {
    display: flex;
    flex-direction: column;
    /* fallback height */
    min-height: 100vh;
    /* new small viewport height for modern browsers */
    min-height: 100svh;
}

footer {
    margin-top: auto;
}

.k-floating-label-container {
    width: 100% !important;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#reportViewer {
    position: absolute;
    width: 50%;
    inset: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 150px;
    margin-bottom: 100px;
}

/*@font-face {
    font-family: Qahiri;
    src: url('/fonts/Qahiri-Regular.ttf');
}

.edit-custom-kaust {
    font-family: Qahiri !important;
}*/